@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.animatedButton{
    animation-duration: 10000ms;
}

@keyframes gradient {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  animation: gradient 8s ease infinite;
  background-size: 200% 200%;
}

.ql-container{
    border: none !important;
}
.ql-toolbar{
    border: none !important;
}
.ql-editor{
    border: none !important;
}